<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/query" method="post">
        
            <label>Name</label>
            <input
              type="text"
              placeholder="Name"
              id="name"
              name="name"
            />

            <label>City</label>
            <input
              type="text"
              placeholder="city"
              id="city"
              name="city"
            />
            
            <label>state</label>
            <input
              type="text"
              placeholder="state"
              name="state"
              id="state"  
            />
            <label>pincode</label>
            <input
              type="text"
              placeholder="pincode"
              name="pincode"
              id="pincode"  
            />
                
        <br />
        <div">
          <button type="submit"  id="sendMessageButton">
            Send
          </button>
        </div>
    </form>
</body>
</html>